spring:
  application:
    name: heac-user
  profiles:
    active: dev
  config:
    # 关键配置：使用 import 导入 Nacos 配置
    import:
      - nacos:heac-common.yaml?refresh=true
      - nacos:heac-user-${spring.profiles.active}.yaml?refresh=true
  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
        file-extension: yaml