mybatis-plus:
  # 1. 实体类扫描包
  type-aliases-package: com.kayz.heac.event.entity
  # 2. 枚举类扫描包 (自动将数据库 TEXT 映射为 Java Enum)
  type-enums-package: com.kayz.heac.event.enums
  configuration:
    # 开启驼峰命名转换 (create_time -> createTime)
    map-underscore-to-camel-case: true
    # 开启二级缓存 (可选)
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      # 3. 逻辑删除配置 (配合数据库 deleted 字段)
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
      # 4. ID 生成策略 (Java生成UUID，不依赖数据库函数，性能更好)
      id-type: assign_uuid


spring:
  application:
    name: heac-event
    admin:
      enabled: true
  config:
    import:
      - nacos:heac-event.yaml?refresh=true
  data:
    mongodb:
      uri: mongodb://user:password@tc:27017/heac-event?authSource=admin
      auto-index-creation: true

  cloud:
    nacos:
      discovery:
        server-addr: tc:8848  # Nacos 注册中心地址
        username: nacos
        password: nacos
      config:
        server-addr: tc:8848  # Nacos 配置中心地址
        file-extension: yaml
  datasource:
    # type: com.alibaba.druid.pool.DruidDataSource
    druid:
      url: jdbc:postgresql://tc:5432/postgres?currentSchema=public&stringtype=unspecified&timezone=Asia/Shanghai
      username: user
      password: password
      driver-class-name: org.postgresql.Driver
      # 连接池大小调优
      initial-size: 5       # 初始化连接数
      min-idle: 5           # 最小空闲连接数
      max-active: 20        # 最大活跃连接数
      max-wait: 60000       # 获取连接等待超时时间(ms)

      # 检测与避坑配置
      time-between-eviction-runs-millis: 60000  # 检测空闲连接的时间间隔
      min-evictable-idle-time-millis: 300000    # 连接在池中最小生存时间
      validation-query: SELECT 1                # 检测连接是否有效的SQL
      test-while-idle: true                     # 申请连接时检测，建议开启
      test-on-borrow: false                     # 借出时检测，生产环境务必关闭
      test-on-return: false                     # 归还时检测，关闭

      # 针对 MySQL 的 PSCache 优化 (建议关闭以防 OOM)
      pool-prepared-statements: false

      # 插件配置：开启监控(stat)、防火墙(wall)、日志(slf4j)
      filters: stat,wall,slf4j

rocketmq:
  name-server: tc:9876 # 你的 RocketMQ 地址
  producer:
    # 生产者组名，必须全局唯一
    group: heac-event-login-log-producer-group
    # 发送超时时间 (毫秒)
    send-message-timeout: 30000

jwt:
  # 令牌签名密钥 (必须足够复杂)
  secret: ThisIsASecretKeyForYourHotspotAggregationSystem
  # Access Token 有效期 (分钟)
  accessTokenExpirationMinute: 60

logging:
  level:
    root: info
    mh.mapper: debug
