<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MamMapper.xml: MyBatis-Plus 可扩展 XML 配置示例 -->
<mapper namespace="com.kayz.heac.user.mapper.UserMapper">
    <select id="findUserIdByAccount" resultType="java.lang.String">
        SELECT id FROM sys_user WHERE account = #{account}
    </select>

    <select id="findUserByAccount" resultType="com.kayz.heac.user.entity.User">
        SELECT id, account, password_hash, real_name_status, create_time, status, preferences_json, last_login_ip, last_login_time, is_admin, version, deleted
        FROM sys_user WHERE account = #{account}
    </select>

</mapper>
