server:
  port: 9000 # 网关一般用 80, 443, 8080 或 9000

spring:
  application:
    name: heac-gateway
  config:
    import: nacos:heac-gateway.yaml
  cloud:
    nacos:
      discovery:
        server-addr: tc:8848
        username: nacos
        password: nacos
      config:
        server-addr: tc:8848
        file-extension: yaml