spring:
  application:
    name: heac-opinion
  profiles:
    active: dev
  config:
    # 关键配置：使用 import 导入 Nacos 配置
    import:
      - nacos:heac-common.yaml?refresh=true
      - nacos:heac-opinion-${spring.profiles.active}.yaml?refresh=true
      - nacos:logback-spring.xml?refresh=true
  cloud:
    nacos:
      config:
        server-addr: tc:8848
        file-extension: yaml
      discovery:
        server-addr: tc:8848
        username: nacos
        password: nacos
